*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.nav{
    margin-bottom: 1rem;
    width: 100%;
    background-color: rgb(91,33,182);
    padding: 0.5rem 1rem 0.5rem 1rem;
}
td{
        padding-top: 1rem;
        padding-bottom: 1rem;
}
.navbar{
    display: flex;
}
.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a{
    color :white;
    text-decoration: none;
    margin-right: 2rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: bold;
}
a:hover{
    color: yellow;
}
body{
    background-color: rgb(164, 214, 239);
}
.main{
    background-color: white;
    width: 700px;
    min-height: 40vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 40px;
}
input,textarea{
    border: 2px solid rgb(164, 214, 239);
    width: 280px;
    border-radius: 0.375rem;
    padding: 8px;
}
input[type="file"]{
    border: none;
}
p,label{
    font-size: 18px;
    font-weight: bold;
    color: rgb(30, 178, 223);
}
img{
    width: 2.5rem;
    margin-top: 5px;
}
h1,h2{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(30, 178, 223);
    /* font-size: 40px; */
    /* background-color: white; */
    width: 100%;
    /* position: sticky;
    top: 0;*/
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    /* border: 2px solid red; */ 

}
#next{
    text-decoration: none;
    font-size: 23px;
    color: white;
    padding-left: 21px;
}
button{
    background-color: rgb(98, 175, 213);
    margin-bottom: 20px;
    padding: 5px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}
#btn{
    background-color: rgb(98, 175, 213);
    font-size: 15px;
    color: white;
    padding: 9px;
    font-weight: bold;
}
#btn:hover{
    background-color: rgb(70, 165, 212);
}