* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html {
    font-size: 62.5%;
}

.nav {
    margin-bottom: 1rem;
    width: 100%;
    background-color: rgb(91, 33, 182);
    padding: 0.5rem 1rem 0.5rem 1rem;
}

td {
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* width: 200px; */
}

.navbar {
    display: flex;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    color: white;
    text-decoration: none;
    margin-right: 3.8rem;
    font-size: 1.75rem;
    line-height: 1.75rem;
    font-weight: bold;
}

a:hover {
    color: yellow;
}

.mobile-menu-icon {
    display: none;
    /* Hidden by default on desktop */
    color: white;
    font-size: 20px;
    cursor: pointer;
}

body {
    background-color: rgb(164, 214, 239);
}

.main {
    background-color: white;
    width: 70rem;
    min-height: 40vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

input,
textarea {
    border: .2rem solid rgb(164, 214, 239);
    width: 28rem;
    border-radius: 0.375rem;
    padding: .8rem;
}

input[type="file"] {
    border: none;
}

p,
label {
    font-size: 1.8rem;
    font-weight: bold;
    color: rgb(30, 178, 223);
}

img {
    width: 3.5rem;
    margin-top: .5rem;
}

h1,
h2 {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(30, 178, 223);
    font-size: 2rem;
    /* background-color: white; */
    width: 100%;
    /* position: sticky;
    top: 0;*/
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    /* border: 2rem solid red; */

}

#next {
    text-decoration: none;
    font-size: 2.3rem;
    color: white;
    padding-left: 2.1rem;
}

button {
    background-color: rgb(98, 175, 213);
    margin-bottom: 2.0rem;
    padding: .5rem;
    border: none;
    border-radius: .7rem;
    cursor: pointer;
}

#btn {
    background-color: rgb(98, 175, 213);
    font-size: 1.5rem;
    color: white;
    padding: .9rem;
    font-weight: bold;
}

#btn:hover {
    background-color: rgb(70, 165, 212);
}

@media(max-width:998px) {
    html {
        font-size: 55%;
    }

    .navbar-container {
        height: 5vh;
    }

    a {
        font-size: 2rem;
    }
}

@media(max-width:768px) {
    html {
        font-size: 45%;
    }

    .navbar-container {
        height: 5vh;
    }

    a {
        font-size: 2rem;
    }
}

@media(max-width:668px) {
    html {
        font-size: 35%;
    }

    .navbar-container {
        height: 5vh;
    }

    a {
        font-size: 3rem;
    }
    .wlc p{
        margin-top: 7rem;
        margin-right: 5rem;
    }
}

@media(max-width:468px) {
    html {
        font-size: 25%;
    }

    .main {
        width: 100%;
    }

    .navbar-container {
        height: 5vh;

    }
    .wlc p{
        margin-top: 7rem;
        margin-right: 5rem;
    }

    a {
        font-size: 3rem;
    }

    .main h2 {
        font-size: 4rem;
    }

    .main h1 {
        font-size: 4rem;
    }

    .internship {
        height: 90vh;
        /* margin-top: 8rem; */
    }
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .navbar {
        display: none;
        /* Hide the navigation links by default on mobile */
        flex-direction: column;
        background-color: #333;
        padding: 10px;
    }

    .navbar-container {
        align-items: flex-start;
    }

    .mobile-menu-icon {
        display: block;
        /* Show the hamburger menu icon on mobile */
    }

    a {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
@media (max-width: 768px) {
    .show {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color:rgb(91, 33, 182);
      padding: 7px;
      margin-right: -7px;
    }
  }
  